@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url("/bg_chat.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}